---
write-kubeconfig-mode: "0644"
token: "supersecrettoken"
kube-apiserver-arg:
  - "kubelet-preferred-address-types=InternalIP,Hostname,ExternalIP"
kubelet-arg:
  - "config=/etc/rancher/k3s/kubelet.config"